<div class="container">
    <div class="row">
        <div class="col" style="margin-bottom: 5px;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <h6 class="card-subtitle mb-2" style="color: blue;">{{getCategory(product.category)}}</h6>
                    <ul class="list-group">
                        <li class="list-group-item">Prix : <span class="text-danger">{{product.price}}€</span></li>
                        <li class="list-group-item">Unité : <span class="text-dark">{{product.unit}}</span></li>
                        <li class="list-group-item">En stock : <span [ngStyle]="{'color' : product.availability ? 'green' : 'red' }">{{product.availability ? "Disponible" : "Indisponible"}}</span></li>
                        <li class="list-group-item">Quantité : <span>{{product.quantity_stock}}</span></li>
                        <li *ngIf="product.sale" class="list-group-item">Prix après promotion : <span style="color: rgb(0, 192, 250);">{{product.price_on_sale}}€ ({{product.discount}}%)</span></li>
                        <li *ngIf="product.comments" class="list-group-item">Commentaire : <span style="color: rgb(73, 73, 73);">{{product.comments}}</span></li>

                    </ul>
                    <a routerLink="['/product',product.id]" class="btn btn-primary">Voir le produit</a>
                </div>
            </div>
        </div>
    </div>
</div>