.select{
  text-align: center;
  justify-self: center;
}

.buttonSearch{
  background-color:#212529;
  color: white;
}

.buttonSearch:hover{
  transform: scale(1.2,1.2);
}

.charts{
  display: flex;
  justify-content: center;
}
