<ngx-charts-pie-chart *ngIf="disabled"
    [results]="saleData"
    [legend]="true"
    [legendTitle]="'Product Sale Report'"
    [view]="[1500,500]"
    [labels]="true" >
</ngx-charts-pie-chart>

<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="multi"
  >
</ngx-charts-line-chart>

