<div class="select">
<mat-form-field appearance="outline">
                      <mat-label>Selectionnez un graphique</mat-label>
                      <mat-select
                      [formControl]="selectGraph"
                      >
                        <mat-option value="Categorie">Par Catégorie</mat-option>
                        <mat-option value="Date">Par Date</mat-option>
                      </mat-select>
                    </mat-form-field>
<br>
  <mat-form-field appearance="outline" *ngIf="typeGraph == 'Date'">
  <mat-label>Date début</mat-label>
  <input matInput [matDatepicker]="dateDeb" [formControl]="dateDebut" [min]="minDate"  [max]= "yesterday">
  <mat-datepicker-toggle matSuffix [for]="dateDeb"></mat-datepicker-toggle>
  <mat-datepicker #dateDeb></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="outline" *ngIf="typeGraph == 'Date'">
  <mat-label>Date fin</mat-label>
  <input matInput [matDatepicker]="dateEnd" [formControl]="dateFin" [max]=yesterday >
  <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
  <mat-datepicker #dateEnd></mat-datepicker>
</mat-form-field>

<div class="example-button-container" *ngIf="typeGraph == 'Date'">
        <button mat-fab class="buttonSearch" (click)="onSearch()" aria-label="Example icon button with a heart icon">
          <mat-icon>search</mat-icon>
        </button>
</div>

<h2 *ngIf="disabled && typeGraph == 'Categorie'">Chiffre d'affaire annuel du {{dateDu }} au {{dateAu}}</h2>
<div class="charts">
<ngx-charts-pie-chart *ngIf="disabled && typeGraph == 'Categorie'"
    [results]="saleData"
    [legend]="true"
    [legendTitle]="'Product Sale Report'"
    [view]="[1500,500]"
    [labels]="true" >
</ngx-charts-pie-chart>

<ngx-charts-line-chart *ngIf="disabledLine && typeGraph == 'Date'"
  [view]="view"
  [scheme]="colorScheme"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="multi"
  [gradient]="gradient"
  [curve]="curve"
  [autoScale]="autoScale"


  >
</ngx-charts-line-chart>
</div>

