<div class="container">
  <div class="row">
  <div class=" card title"><h1>Produits</h1></div>
    <div *ngFor="let category of getKeys()">
      <div >
        <h2>{{ category }}</h2>
      </div>
      <div class="container row">
        <div
          *ngFor="let product of products[category]"
          class="col-4 product"
          style="margin-bottom: 5px"
        >
          <app-product-view [product]="product"></app-product-view>
        </div>
      </div>
    </div>
  </div>
</div>
