<p>home works!</p>

<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Assignee</mat-label>
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form> -->
  
<div class="list_products">
    <div *ngFor="let product of products">
        <div class="container">
            <div class="row">
                <div class="col" style="margin-bottom: 10px;">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <h6 class="card-subtitle mb-2" style="color: blue;">{{getCategory(product.category)}}</h6>
                            <ul class="list-group" style="margin-bottom: 7px;">
                                <li class="list-group-item">Prix : <span class="text-danger">{{product.price}}€</span></li>
                            </ul>
                            <a [routerLink]="['/product', product.tigID]" class="btn btn-primary">Voir le produit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>