.list_products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.search_bar {
    margin-bottom: 15px;
}

.col-3{
  background-color:rgb(3, 156, 156)
}

.container{
  margin-top: 160px;
}
.title{
  text-align: center;
  margin-top: 10px;
  font-size: 60px;
  font-family: system-ui;
}
